.address {
  &__list {
    text-align: center;
    font-style: normal;

    @include font();
  }
  &__item {
    @extend %transition-color;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
    // &:last-child {
    //   margin-bottom: 64px;
    // }
  }
}

.address {
  &__link {
    &--place {
      color: $primary-white;
    }
    &--connection {
      color: $address-subscribe-color;
    }
  }
}

.address {
  &__link {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.address-wrapper {
  @media screen and(min-width:768px) {
    display: inline-block;
    margin-left: 70px;
    margin-right: 165px;
    margin-bottom: 60px;
  }
}
