.hero {
  display: block;
  padding: 200px 0;
  text-align: center;

  @include color($bgc-hero-footer, $primary-white);

  &__overlays {
    max-width: 1600px;
    min-height: 600px;

    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/banner.jpg);

    @include background-picture(cover);

    background-attachment: scroll;
  }
  &__title {
    width: 696px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @include font(900, 44px, 1.363, 0.06em);

    text-align: center;
  }
}
