// .logo {
//   font-family: Raleway;

//   @include font(700, 26px, 1.173, 0.03em);

//   color: $black-color;
//   &--accent {
//     color: $accent-color;
//   }
// }

// .page-header {
//   &__logo {
//     padding-top: 24px;
//     padding-bottom: 24px;
//   }
// }

// .page-footer {
//   &__logo {
//     display: block;
//     margin-bottom: 20px;

//     color: $primary-white;
//   }
// }

.logo {
  font-family: Raleway;
  display: inline-block;

  @include font(700, 16px, 1.173, 0.03em);

  color: $black-color;

  @media screen and(min-width: 480px) {
    @include font(700, 26px, 1.173, 0.03em);
  }
  @media screen and(min-width: 768px) {
    &--accent {
      color: $accent-color;
    }
  }
}

.page-header {
  &__logo {
    position: absolute;
    top: -4px;
    left: 15px;

    padding-top: 21px;
    padding-bottom: 21px;
    @media screen and(min-width: 768px) {
      top: 5px;
      left: 15px;
    }
    @media screen and(min-width: 1200px) {
      top: 5px;
      left: 215px;
    }
  }

  // @media screen and(min-width: 1200px) {
  //   padding-top: 24px;
  //   padding-bottom: 24px;
  // }
}

.page-footer {
  &__logo {
    display: block;
    text-align: center;
    margin-bottom: 32px;
    @media screen and(min-width: 1200px) {
      margin-bottom: 20px;
      color: $primary-white;
    }
  }
}
