.page-header {
  background-color: $primary-white;

  &__border {
    border-bottom: 1px solid $line-header;

    height: 60px;
    @media screen and(min-width: 768px) {
      height: 80px;
      // }
    }
    &__container {
      // @extend %flexible-ai;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// !
// .page-header {
//   // position: relative;

// .page-header__container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
