.subscribe {
  &__form {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 93px;
  }
}

.subscribe-form {
  &__subtitle {
    display: block;

    @include font(700, 14px, 1.142, 0.03em);

    color: $primary-white;
    margin-bottom: 20px;
  }
  &__input {
    @include size(358px, 50px);

    padding: 15px 16px;

    @include border($subscribe-border-input);

    @include color($bgc-hero-footer, $primary-white);
    caret-color: $primary-white;

    &::placeholder {
      @include font(400, 16px, 1.25, 0.03em);

      color: $address-subscribe-color;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }
  }
  &__icon {
    @include size(24px, 24px);

    fill: $primary-white;
    &--after {
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}
